<ion-view view-title="About Us">
	<ion-content>
		<div class="card panel panel-primary">
			<div class="panel-heading purple">
				About Us
			</div>
			<div class="panel-primary panel-body item-divider">
				<div class="panel panel-success">
					<div class="panel-heading green"></div>
					<div class="panel-body">
						Western Branch Academy is a full-day nationally accredited early childhood program that provides innovative programming for children where emotional, physical, intellectual, spiritual, and social development flourishes. We are committed to providing high quality instruction through age-appropriate learning activities and qualified teachers.
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading green">
						We strive to:
					</div>
					<div class="panel-body">
						<ion-slide-box does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)" show-pager="false">
							<ion-slide class="item center" ng-repeat="value in values">
								{{value.text}}
							</ion-slide>
						</ion-slide-box>
					</div>
				</div>
			</div>
		</div>
		<div class="card panel panel-primary">
			<div class="panel-heading purple">
				Our Staff
			</div>
			<div class="panel-primary panel-body item-divider">
				<div class="panel panel-success">
					<div class="panel-heading green"></div>
					<div class="panel-body center">
						<img class="pics" src="img/Staff--element134.jpg">
					</div>
					<div class="panel-body">
						Teachers makes a huge impact on the lives of young children and their families.  ​We strive to be a team-oriented environment that encourages professional development in one another while building strong relationships with one another.  All of our preschool teachers hold a college degree and have early childhood classroom experience.  We strive to provide high quality educational programming at Western Branch Academy.
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading green">
						Introducing our talented team members:
					</div>
					<div class="panel-body center">
						<ion-list>
							<ion-item class="item item-icon-right" ng-repeat="person in persons" href="#/wba/about/{{person.id}}">
								{{person.name}}
								<p>{{person.title}}</p>
								<i class="icon ion-chevron-right icon-accessory"></i>
								<ion-option-button class="button-assertive" ng-click="remove(person)"></ion-option-button>
							</ion-item>
						</ion-list>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>