<ion-view view-title="Contact">
  <ion-content>
    <div class="card panel panel-primary">
      <div class="panel-heading purple">
        Contact Us
      </div>
      <div class="panel-primary panel-body item-divider">
        <div class="panel panel-success">
          <div class="panel-heading green">
            Address
          </div>
          <div class="panel-body">
            <div class="center item item-icon-left">
              <i class="icon ion-home"></i>
              4225 A Portsmouth Boulevard<br>
              Suite 101<br>
              Chesapeake, VA  23321
            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading green">
            Phone
          </div>
          <div class="panel-body">
            <div class="center item item-icon-left">
              <i class="icon ion-ios-telephone"></i>
              Main: <a href="tel:757-488-4306">(757) 488-4306</a>
              <br>
              Fax: <a href="tel:757-488-4309">(757) 488-4309</a>
            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading green">
            Email
          </div>
          <div class="panel-body">
            <div class="center item item-icon-left">
              <i class="icon ion-email"></i>
              <a href="mailto:wbacademy@verizon.net">wbacademy@verizon.net</a>
            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading green">
            Hours
          </div>
          <div class="panel-body">
            <div class="center item item-icon-left">
              <i class="icon ion-clock"></i>
              Monday - Friday<br>7:00 AM - 6:00 PM
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
