<ion-view view-title="Contact">
  <ion-content>
    <ion-list>
      <!-- <div class="list card"> -->
        <div class="list card list-inset">
          <div class="item item-divider item-balanced">
            Address
          </div>
          <div class="item item-text-wrap">
            <div class="item item-icon-left">
              <i class="icon ion-home"></i>
              4225 A Portsmouth Boulevard, Suite 101<br>
              Chesapeake, VA  23321<br>
            </div>
          </div>
        </div>
        <div class="list card list-inset">
          <div class="item item-divider item-balanced">
            Phone
          </div>
          <div class="item item-text-wrap">
            <div class="item item-icon-left">
              <i class="icon ion-ios-telephone"></i>
              Main: <a href="tel:757-488-4306">(757) 488-4306</a><br>
              Fax: <a href="tel:757-488-4309">(757) 488-4309</a>
            </div>
          </div>
        </div>
        <div class="list card list-inset">
          <div class="item item-divider item-balanced">
            Email
          </div>
          <div class="item item-text-wrap">
            <div class="item item-icon-left">
              <i class="icon ion-email"></i>
              <a href="mailto:wbacademy@verizon.net">wbacademy@verizon.net</a>
            </div>
          </div>
        </div>
        <div class="list card list-inset">
          <div class="item item-divider item-balanced">
            Hours
          </div>
          <div class="item item-text-wrap">
            <div class="item item-icon-left">
              <i class="icon ion-clock"></i>
              Monday - Friday 7:00 AM - 6:00 PM
            </div>
          </div>
        </div>
      <!-- </div> -->
    </ion-list>
  </ion-content>
</ion-view>
