<ion-view view-title="Forms">
  <ion-content>
    <div class="list card list-inset">
      <div class="item item-icon-left item-divider purple">
        <i class="icon ion-document-text"></i>
        Additional Forms
      </div>
      <div class="item item-divider">
        <ion-list>
          <div class="list card list-inset">
            <div class="item item-divider green"></div>
            <ion-item ng-repeat="section in sections" class="item item-text-wrap item-icon-right center" href="#/wba/forms/{{section.id}}">
              <i class="icon ion-chevron-right icon-accessory"></i>
              {{section.title}}
            </ion-item>
          </div>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
