<ion-view view-title="Forms">
  <ion-content>
    <div class="card panel panel-primary">
      <div class="panel-heading purple">
        <div class="item item-icon-left">
          <i class="icon ion-document-text"></i>
          Additional Forms
        </div>
      </div>
      <div class="panel-primary panel-body item-divider">
        <div class="panel panel-success">
          <div class="panel-heading green"></div>
          <div class="panel-body">
            <ion-list>
              <ion-item ng-repeat="section in sections" class="item item-icon-right center" href="#/wba/forms/{{section.id}}">
                <i class="icon ion-chevron-right icon-accessory"></i>
                {{section.title}}
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
