<ion-view view-title="{{section.title}}">
	<ion-content>
		<div class="list card list-inset">
      <div class="item item-icon-left item-divider purple">
        <i class="icon ion-document-text"></i>
        {{section.title}}
      </div>
      <div class="item item-divider">
        <ion-list>
          <div class="list card list-inset">
            <div class="item item-divider green"></div>
            <ion-item ng-repeat="title in section.form" class="item item-text-wrap center">
              <a href="{{title.src}}" target="_blank">{{title.title}}</a>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </div>
	</ion-content>
</ion-view>
