<ion-view view-title="{{section.title}}">
	<ion-content>
    <div class="card panel panel-primary">
      <div class="panel-heading purple">
        <div class="item item-icon-left">
          <i class="icon ion-document-text"></i>
          {{section.title}}
        </div>
      </div>
      <div class="panel-primary panel-body item-divider">
        <div class="panel panel-success">
          <div class="panel-heading green"></div>
          <div class="panel-body">
            <ion-list>
              <ion-item ng-repeat="title in section.form" class="item item-text-wrap center">
                <a href="{{title.src}}" target="_blank" ng-click="openPDF()">{{title.title}}</a>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
	</ion-content>
</ion-view>