<ion-view view-title="Parents">
  <ion-content class="padding">
    <div class="card panel panel-primary">
      <div class="panel-heading purple">
        <div class="item item-icon-left">
          <i class="icon ion-ios-calendar"></i>
          Upcoming Events
        </div>
      </div>
      <div class="panel-primary panel-body item-divider">
        <div class="panel panel-success">
          <ion-slide-box does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)" show-pager="false">
            <ion-slide ng-repeat="event in events">
              <div class="panel-heading green">
                {{event.title}}
              </div> 
              <div class="panel-body center">
                {{event.text}}
              </div>
            </ion-slide>
          </ion-slide-box>
        </div>
      </div>
    </div>
    <div class="card panel panel-primary">
      <div class="panel-heading purple">
        <div class="item item-icon-left">
          <i class="icon ion-document-text"></i>
          Newsletter
        </div>
      </div>
      <div class="panel-primary panel-body item-divider">
        <div class="panel panel-success">
          <div class="panel-heading green">
            Current
          </div>
          <div class="panel-body center">
            <a href="#/wba/parents"><b>Summer 2016</b></a>
          </div>
        </div>
        <div class="panel panel-success">
          <ion-slide-box does-continue="true" show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="newsletter in newsletters">
              <div class="panel-heading green">
                Previous
                <span class="item-note">(swipe for more)</span>
              </div>
              <div class="panel-body center">
                <a href="#/wba/parents"><b>{{newsletter.title}}</b></a>
              </div>
            </ion-slide>
          </ion-slide-box>
        </div>
      </div>
    </div>
    <div class="card panel panel-primary">
      <div class="panel-heading purple">
        <div class="item item-icon-left">
          <i class="icon ion-speakerphone"></i>
          Announcements
        </div>
      </div>
      <div class="panel-primary panel-body item-divider">
        <div class="panel panel-success">
          <div class="panel-heading green">
            Carpool Etiquette
          </div>
          <div class="panel-body">
            To keep our children safe at pick-up and drop-off please follow these guidelines:
          </div>
          <div class="panel-body">
            <ion-list>
              <ion-item class="row" ng-repeat="rule in rules">
                ​<span class="col center">{{rule.id + 1}}</span>
                <span class="col col-75">{{rule.text}}</span>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading green">
            Shutterfly
          </div>
          <div class="panel-body">
            Visit our website for uploading and sharing photos with each other. This site is accessible to members only. To join just visit <a href="#" onclick="window.open('http://westernbranchacademy.shutterfly.com/', '_system', 'location=yes', 'toolbar=yes'); return false;">westernbranchacademy.shutterfly.com</a> and request to become a member. You can upload, view, and order pictures from the website.
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
