<ion-view view-title="Parents">
  <ion-content class="padding">

    <div class="list card list-inset">
      <div class="item item-icon-left item-divider item-royal">
        <i class="icon ion-ios-calendar"></i>
        Upcoming Events
      </div>
      <div class="item item-divider">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide class="card" ng-repeat="event in events">
            <div class="item item-divider item-balanced">
                {{event.title}}
            </div>                    
            <div class="item item-text-wrap">
                {{ event.text }}
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

    <div class="list card list-inset">
      <div class="item item-icon-left item-divider item-royal">
        <i class="icon ion-document-text"></i>
        Newsletter
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <p><a href="docs/newsletters/Newsletter_Summer_2016.pdf" target="_blank"><b>Summer 2016</b></a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="list card list-inset">
      <div class="item item-icon-left item-divider item-royal">
        <i class="icon ion-speakerphone"></i>Announcements
      </div>
      <div class="item item-divider">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="card">
              <div class="item item-divider item-balanced">
                Carpool Etiquette
              </div>
              <div class="item item-text-wrap">
                To keep our children safe at pick-up and drop-off please follow these guidelines:
                <div class="list card list-inset">
                  <div class="item row reseponsive-sm">
                    ​<h3 class="col">1.</h3>
                    <div class="col col-75">The pick up zone is the area in front of the school where the railroad ties line the grass.</div>
                  </div>
                  <div class="item row reseponsive-sm">
                    <h3 class="col">2.</h3>
                    <div class="col col-75">Drive up all the way to the end of the pick up zone and stay to the outside of the circle.</div>
                  </div>
                  <div class="item row reseponsive-sm">
                    <h3 class="col">3.</h3>
                    <div class="col col-75">If a car in front of you drives away and you are still waiting for your child, please pull your car forward.</div>
                  </div>
                  <div class="item row reseponsive-sm">
                    <h3 class="col">4.</h3>
                    <div class="col col-75">If your child is loaded into your car and another car in front of you is loading a child, please wait until they are loaded and pull away.</div>
                  </div>
                  <div class="item row reseponsive-sm">
                    <h3 class="col">5.</h3>
                    <div class="col col-75">If you must drive around a car waiting for a child, please drive slowly and close to the inside of the circle.  Please do not pass more than one car.</div>
                  </div>
                  <div class="item row reseponsive-sm">
                    <h3 class="col">6.</h3>
                    <div class="col col-75">All traffic must go around the circle in a counterclockwise direction.  Do not turn around and go against traffic.</div>
                  </div>
                </div>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="card">
              <div class="item item-divider item-balanced">
                Shutterfly Photo Website
              </div>
              <div class="item item-text-wrap">
                Visit our website for uploading and sharing photos with each other. This site is accessible to members only. To join just visit <a href="http://westernbranchacademy.shutterfly.com/" target="_blank">westernbranchacademy.shutterfly.com</a> and request to become a member. You can upload, view, and order pictures from the website.
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

    <div class="list card list-inset">
      <div class="item item-divider item-royal">
        School Year PM Enrichment Classes
        <span class="item-note">(Cost not included in WBA tuition)</span>
      </div>
      <div class="item item-divider">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="card">
              <div class="item item-divider item-balanced">
                <b><a href="http://virginialittlestars.com/" target="_blank">Dancing Little Stars</a></b>
              </div>
              <div class="item item-text-wrap">
                <b>Tuesdays</b><br>2:30 - 3:30 pm
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="card">
              <div class="item item-divider item-balanced">
                <b><a href="http://hamptonroads.ssreg.org/" target="_blank">Soccer Shots</a></b>
              </div>
              <div class="item item-text-wrap">
                <b>2 sessions on Wednesdays</b><br>2:30 - 3:00 pm and 3:00 - 3:30 pm
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="card">
              <div class="item item-divider item-balanced">
                <b><a href="http://funbuses.com/hamptonroads/" target="_blank">Fun Bus</a></b>
              </div>
              <div class="item item-text-wrap">
                <b>2 sessions on Tuesdays</b><br>2:30 - 3:00 pm and 3:00 - 3:30 pm
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

  </ion-content>
</ion-view>
