<ion-view view-title="Programs">
	<ion-content>
		<div class="list card list-inset">
			<div class="item item-divider purple">
				Our Programs
			</div>
			<div class="item item-divider center">
				<ion-list>
					<div class="list card list-inset">
						<div class="item item-divider green"></div>
						<ion-item class="item item-avatar item-icon-right" ng-repeat="program in programs" href="#/wba/programs/{{program.id}}">
							<img class="pics" ng-src="{{program.img}}">
							{{program.title}}
							<i class="icon ion-chevron-right icon-accessory"></i>
						</ion-item>
					</div>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>
