<ion-view view-title="{{program.title}} Program">
	<ion-content>
		<div class="list card list-inset">
			<div class="item item-divider purple">
				{{program.title}} Program
			</div>
			<div class="item item-divider">
				<div class="list card list-inset">
					<div class="item item-divider green"></div>
					<div class="item item-text-wrap">
						{{program.text}}
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="list card list-inset">
			<div class="item item-divider purple">
				{{program.title}} Teachers
			</div>
			<div class="item item-divider">
				<div class="list card list-inset">
					<div class="item item-divider green">
						{{program.title}}
					</div>
						<div class="item item-text-wrap">
							{{program.text}}
						</div>
				</div>
			</div>
		</div> -->
	</ion-content>
</ion-view>