<ion-view view-title="Programs">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="program in programs" type="item-text-wrap" href="#/tab/programs/{{program.id}}">
        <img ng-src="{{program.face}}">
        <h2>{{program.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(program)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
