<ion-view view-title="Western Branch Academy">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card list-inset">
      <div class="item item-divider item-energized">
        <h2>Welcome to Western Branch Academy!</h2>
      </div>
    </div>
    <div class="card">
    <div class="item item-divider item-balanced"></div>
      <div class="item item-text-wrap">
        Thank you so much for voting for WBA in The Pilot's Best of Hampton Roads Contest! You have once again made us the Best Child Development Center in the Portsmouth Area!
      </div>
    </div>
    <div class="card">
    <div class="item item-divider item-balanced"></div>
      <div class="item item-text-wrap">
        The mission of Western Branch Academy is to <b>believe</b> in the abilities of young children; create a community for children to <b>belong</b> based on love, trust, and respect; and enable children to <b>become</b> creative thinkers with a love for learning.
      </div>
    </div>
    <div class="card">
    <div class="item item-divider item-balanced"></div>
      <div class="item item-text-wrap">
        We provide innovative preschool and Kindergarten programming for children ages two through six. We also provide Kindergarten and after school care for students enrolled at Chittum Elementary or Western Branch Primary. We are licensed as a child day center through the Virginia Department of Social Services.
    </div>
  </ion-content>
</ion-view>