<ion-view view-title="About Us">
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list card">
			<div class="item item-divider item-energized">
				About Us
			</div>
			<div class="item item-text-wrap">
				Western Branch Academy is a full-day nationally accredited early childhood program that provides innovative programming for children where emotional, physical, intellectual, spiritual, and social development flourishes.  We are committed to providing high quality instruction through age-appropriate learning activities and qualified teachers.
				<div class="list card list-inset">
					<div class="item item-divider item-balanced">
						We strive to:
					</div>
					<div class="item">
						​<h3>Support families through strong partnerships</h3>
					</div>
					<div class="item">
						<h3>Transform curiosity into a love of learning</h3>
					</div>
					<div class="item">
						<h3>Nurture each child's unique qualities and potential</h3>
					</div>
					<div class="item">
						<h3>Foster opportunities to learn about God's world</h3>
					</div>
					<div class="item">
						<h3>Establish a work environment where professionalism, growth, collaboration, and creativity are demonstrated</h3>
					</div>
					<div class="item">
						<h3>Connect with the community through community service projects</h3>
					</div>
					<div class="item">
						<h3>Meet the changing preschool educational needs of the community</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider item-energized">
				Staff
			</div>
			<div class="item item-text-wrap">
				Teachers makes a huge impact on the lives of young children and their families.  ​We strive to be a team-oriented environment that encourages professional development in one another while building strong relationships with one another.  All of our preschool teachers hold a college degree and have early childhood classroom experience.  We strive to provide high quality educational programming at Western Branch Academy.
				<ion-list>
					<div class="list card list-inset">
						<div class="item item-divider item-balanced">
							Introducing our talented team members:
						</div>
						<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="person in persons" type="item-text-wrap" href="#/tab/about/{{person.id}}">
							<h2>{{person.name}}</h2>
							<h3>{{person.title}}</h3>
							<i class="icon ion-chevron-right icon-accessory"></i>

							<ion-option-button class="button-assertive" ng-click="remove(person)">
								Delete
							</ion-option-button>
						</ion-item>
					</div>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>
