<ion-view view-title="Parents">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card list-inset">
    </div>
    <div class="row responsive-sm">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="item item-icon-left item-divider item-energized">
                <i class="icon ion-ios-calendar"></i>
                Upcoming Events
              </div>
              <div class="item item-text-wrap">
                <div class="row">
                  <div class="col"><p>Jul 4</p></div>
                  <div class="col"><p>No camp<br>Happy 4th of July!</p></div>
                </div>
                <div class="row">
                  <div class="col"><p>Aug 29 - Sep 2</p></div>
                  <div class="col"><p>WBA closed</p></div>
                </div>
                <div class="row">
                  <div class="col"><p>Sep 1</p></div>
                  <div class="col"><p>Fall Meet and Greet</p></div>
                </div>
                <div class="row">
                  <div class="col"><p>Sep 5</p></div>
                  <div class="col"><p>Labor Day</p></div>
                </div>
                <div class="row">
                  <div class="col"><p>Sep 6</p></div>
                  <div class="col"><p>1st day of school</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col"><!--  -->
            <div class="card"><!--  -->
              <div class="item item-divider">
                <div class="card" ng-repeat="event in events">
                    <div class="item item-divider item-energized">
                        {{event.title}}
                    </div>                    
                    <div class="item item-text-wrap">
                        {{ event.description }}
                        <p/>
                        <strong>When: {{ event.date | date:'short' }}</strong>
                    </div>
                    <p ng-if="event.status">This event is added to your calendar already!</p>
                    <button ng-if="!event.status" ng-click="addEvent(event, $index)" class="button button-block button-balanced">Add to Calendar</button>
                </div>
              </div>
            </div><!--  -->
          </div><!--  -->
        </div>
        <div class="row">
          <div class="col">
            <div class="list card list-inset">
              <div class="item item-icon-left item-divider item-royal">
                <i class="icon ion-document-text"></i>
                Newsletters
              </div>
              <div class="item item-text-wrap">
                <div class="row">
                  <div class="col">
                    <p><a href="acrobat_file.pdf">Summer 2016</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p><a href="acrobat_file.pdf">May-June 2016</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p><a href="acrobat_file.pdf">April 2016</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p><a href="acrobat_file.pdf">March 2016</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p><a href="acrobat_file.pdf">February 2016</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p><a href="acrobat_file.pdf">January 2016</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p><a href="acrobat_file.pdf">December 2015</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p><a href="acrobat_file.pdf">November 2015</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p><a href="acrobat_file.pdf">October 2015</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p><a href="acrobat_file.pdf">September 2015</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-75">
        <div class="card">
          <div class="item item-icon-left item-divider item-balanced">
            <i class="icon ion-speakerphone"></i>
            Announcements
          </div>
        </div>
        <div class="card">
          <div class="item item-divider">
            Carpool Etiquette
          </div>
          <div class="item item-text-wrap">
            To keep our children safe at pick-up and drop-off please follow these guidelines:
            <div class="list card list-inset">
              <div class="item">
                ​<h3><b>1.</b>  The pick up zone is the area in front of the school where the railroad ties line the grass.</h3>
              </div>
              <div class="item">
                <h3><b>2.</b>  Drive up all the way to the end of the pick up zone and stay to the outside of the circle.</h3>
              </div>
              <div class="item">
                <h3><b>3.</b>  If a car in front of you drives away and you are still waiting for your child, please pull your car forward.</h3>
              </div>
              <div class="item">
                <h3><b>4.</b>  If your child is loaded into your car and another car in front of you is loading a child, please wait until they are loaded and pull away.</h3>
              </div>
              <div class="item">
                <h3><b>5.</b>  If you must drive around a car waiting for a child, please drive slowly and close to the inside of the circle.  Please do not pass more than one car. </h3>
              </div>
              <div class="item">
                <h3><b>6.</b>  All traffic must go around the circle in a counterclockwise direction.  Do not turn around and go against traffic.</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="item item-divider">
                School Year PM Enrichment Classes
                <span class="item-note">(Cost not included in WBA tuition)</span>
              </div>
              <div class="item item-text-wrap">
                <div class="list card list-inset">
                  <div class="item">
                    <div class="row">
                      <div class="col">
                        <h3><b><a href="http://virginialittlestars.com/" target="_blank">Dancing Little Stars</a></b></h3>
                      </div>
                      <div class="col">
                        <h3>Tuesdays 2:30 - 3:30 pm</h3>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col">
                        <h3><b><a href="http://hamptonroads.ssreg.org/" target="_blank">Soccer Shots</a></b></h3>
                      </div>
                      <div class="col">
                        <h3>2 sessions on Wednesdays<br>2:30 - 3:00 pm and 3:00 - 3:30 pm</h3>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col">
                        <h3><b><a href="http://funbuses.com/hamptonroads/" target="_blank">Fun Bus</a></b></h3>
                      </div>
                      <div class="col">
                        <h3>2 sessions on Tuesdays<br>2:30 - 3:00 pm and 3:00 - 3:30 pm</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="item item-divider">
                Shutterfly Photo Website
              </div>
              <div class="item item-text-wrap">
                Visit our website for uploading and sharing photos with each other. This site is accessible to members only. To join just visit <a href="http://westernbranchacademy.shutterfly.com/" target="_blank">westernbranchacademy.shutterfly.com</a> and request to become a member. You can upload, view, and order pictures from the website.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-balanced"></div>
      <div class="item item-text-wrap">
        <p>They say it takes a village to raise a child. For the last 2 years, WBA has been my village. From the parents, to the teachers, to the directors--the immense compassion, dedication, and support my children and I have received will never be forgotten. My children grew socially, intellectually, and emotionally more than I could have ever imagined during their time at WBA. We are relocating this summer and so sad to say goodbye to our family at WBA. I am eternally grateful to all of the staff and wish them all the best.</p>
      </div>
    </div>
  </ion-content>
</ion-view>