<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home-outline" href="#/tab/wba">
    <ion-nav-view name="tab-wba"></ion-nav-view>
  </ion-tab>

  <!-- About Us Staff Tab Tab -->
  <ion-tab title="About Us" icon-off="ion-easel" icon-on="ion-easel" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <!-- Programs Tab -->
  <ion-tab title="Programs" icon-off="ion-ios-heart" icon-on="ion-ios-heart-outline" href="#/tab/programs">
    <ion-nav-view name="tab-programs"></ion-nav-view>
  </ion-tab>

  <!-- Admissions Tab -->
  <ion-tab title="Admissions" icon-off="ion-university" icon-on="ion-university" href="#/tab/admissions">
    <ion-nav-view name="tab-admissions"></ion-nav-view>
  </ion-tab>

  <!-- Brochure Tab -->
  <ion-tab title="Brochure" icon-off="ion-ios-browsers" icon-on="ion-ios-browsers-outline" href="#/tab/brochure">
    <ion-nav-view name="tab-brochure"></ion-nav-view>
  </ion-tab>

  <!-- Parents Tab -->
  <ion-tab title="Parents" icon-off="ion-ios-people" icon-on="ion-ios-people-outline" href="#/tab/parents">
    <ion-nav-view name="tab-parents"></ion-nav-view>
  </ion-tab>

  <!-- Contact Tab -->
  <ion-tab title="Contact" icon-off="ion-ios-telephone" icon-on="ion-ios-telephone-outline" href="#/tab/contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>


</ion-tabs>