<script id="templates/contacts.html" type="text/ng-template">
	<ion-side-menus>
			<ion-pane ion-side-menu-content drag-content="false">
					<ion-nav-bar class="bar-stable ">
							<ion-nav-buttons side="left">
									<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
							</ion-nav-buttons>
					</ion-nav-bar>
					<ion-view>
						<br/>
						<h1>Contacts Page</h1>
						<div ui-view>
							Contacts:
							<div ui-view="contactsPage"></div>
							Things:
							<div ui-view="somethingElse"></div>
						</div>
					</ion-view>
			</ion-pane>
			<ion-side-menu side="left">
				<ion-content>
					hello
				</ion-content>
			</ion-side-menu>
	</ion-side-menus>
</script>



<script id="templates/contacts.list.html" type="text/ng-template">
	<ul class="list">
		<li class="item" ng-repeat="person in contacts"><a ng-href="#/contacts/{{person.id}}">{{person.name}}</a></li>
	</ul>
</script>



<script id="templates/contacts.somethingElseList.html" type="text/ng-template">
	<ul class="list">
		<li class="item" ng-repeat="stuff in things"><a ng-href="#/contacts/se/{{stuff.id}}">{{stuff.name}}</a></li>
	</ul>
</script>



<script id="templates/contacts.somethingElseDetail.html" type="text/ng-template">
	{{stuff.name}}
</script>

