@font-face {
    font-family: 'bootstrap';
    src:url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
    src:url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'),
        url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontawesome';
    src:url('lib/font-awesome/fonts/fontawesome-webfont.eot');
    src:url('lib/font-awesome/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('lib/font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
        url('lib/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('lib/font-awesome/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mdi';
    src:url('lib/mdi/fonts/materialdesignicons-webfont.eot');
    src:url('lib/mdi/fonts/materialdesignicons-webfont.eot') format('embedded-opentype'),
        url('lib/mdi/fonts/materialdesignicons-webfont.woff') format('woff'),
        url('lib/mdi/fonts/materialdesignicons-webfont.ttf') format('truetype'),
        url('lib/mdi/fonts/materialdesignicons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'https://fonts.googleapis.com/css?family=Bungee|Lato:400i|Open+Sans:600';

.title.title-left.header-item {
	left: 0px !important;
}

.title.title-left,
.bar .title.title-left {
	text-align: center;
}

.platform-android .bar .title {
	font-size: 17px;
}

ion-header-bar.bar-stable.bar.bar-header {
	background: #d0c6eb;
}

.title.title-center.header-item,
.title.title-left.header-item,
button.button.button-icon.button-clear.ion-navicon,
button.button.back-button.buttons.button-clear.header-item {
	color: white;
	vertical-align: middle;
	text-shadow: 1px 1px 2px #000000, 0 0 25px #332263, 0 0 5px #5a3caf;
	font-family: 'Bungee', cursive;
}

.card {
	box-shadow: none;
	background: inherit;
	padding: 0;
}

.panel {
	border-radius: 8px;
	margin-bottom: 0;
	box-shadow: inset 0px 0px 5px -1px #696969, 0px 2px 10px -1px #1A3B4C;
}

.panel-body {
	border-radius: 8px;
}

.panel-primary > .panel-heading {
	background: #332263;
	color: #fff;
	border-color: #332263;
}

.panel-primary {
	border-color: #332263;
	background: #332263;
	border: 2px solid #332263;
}

.panel-primary.panel-body.item-divider {
	padding-top: 0;
}

.panel-success > .panel-heading {
	background: #b8d450;
	color: #fff;
	border-color: #b8d450;
}

.panel-success {
	border-color: #b8d450;
}

.panel.panel-success {
	margin-top: 1em;
}

.panel-warning > .panel-heading {
	background: #f78b20;
	color: #fff;
	border-color: #f78b20;
}

.panel-warning {
	border-color: #f78b20;
}

.item {
	font-family: inherit;
	background: inherit;
	color: inherit;
  border-color: rgba(221, 221, 221, 0);
}

.item-icon-left {
	padding: 0 3em;
}

.title,
.previous-title {
	font-family: 'Bungee', cursive;
}

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}

.nav .mdi::before {
    position: relative;
    top: 4px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

.col {
	text-align: center;
}

.col-75 {
	text-align: left;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	ion-content,
	ion-view.pane,
	.orange {
		background: #fcd9b6;
	}

	.item-divider {
		background: #efecf8;
	}

	.center {
		text-align: center;
	}

	.row {
		vertical-align: middle;
		padding: 0;
	}

	.neutral {
		background: #d0c6eb;
	}

	.title {
		color: white;
	}

	.pics {
		max-width: 100%;
		height: auto;
		border-radius: 10px;
		box-shadow: inset 0px 0px 5px -1px #696969, 0px 2px 10px -1px #1A3B4C;
	}

	.award {
		width: 35%;
		padding: 0;
	}

	.honors {
		max-width: 70%;
		margin: 0 auto;
	}

	.none {
		pointer-events: none;
		cursor: default;
	}

	.none .col-75 {
	    text-decoration: none;
	    color: inherit;
	}

	.brand {
		height: 44;
		display: block;
	    margin: 0 auto;
	}

	.word {
		font-weight: bold;
		font-style: italic;
	}

	.purple-text {
		color: #332263;
		font-family: 'Lato', sans-serif;
	}

	.purple {
		background: #332263;
		color: white;
		text-shadow: 1px 1px 2px #000000, 0 0 25px #332263, 0 0 5px #5a3caf;
		font-family: 'Bungee', cursive;
	}

	.green-text {
		color: #b8d450;
		font-family: 'Lato', sans-serif;
	}

	.green {
		background: #b8d450;
		color: white;
		text-shadow: 1px 1px 2px #000000, 0 0 25px #b8d450, 0 0 5px #809925;
		font-family: 'Bungee', cursive;
	}

	.orange-text {
		color: #f78b20;
		font-family: 'Lato', sans-serif;
	}

	.orange {
		background: #f78b20;
		color: white;
		text-shadow: 1px 1px 2px #000000, 0 0 25px #f78b20, 0 0 5px #fbbe82;
	}

	.item-note {
		font-family: 'Lato', sans-serif;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	ion-content {
		padding: 0 2em;
	}

	.padding {
		margin: 0 2em;
	}

	.neutral {
		padding: 0;
	}

	.award {
		width: 25%;
	}

	.honors {
		max-width: 50%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	ion-content {
		padding: 0 5em;
	}

	.padding {
		margin: 0 5em;
	}

	.neutral {
		padding: 0;
	}

	.award {
		width: 20%;
	}

	.honors {
		max-width: 40%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	ion-content {
		padding: 0 10em;
	}

	.padding {
		margin: 0 10em;
	}

	.neutral {
		padding: 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	ion-content {
		padding: 0 15em;
	}

	.padding {
		margin: 0 15em;
	}

	.neutral {
		padding: 0;
	}
}

 Medium Devices, Desktops 
@media only screen and (min-width : 1600px) {
	ion-content {
		padding: 0 25em;
	}

	.padding {
		margin: 0 25em;
	}

	.neutral {
		padding: 0;
	}
}